/* Add your CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header Section */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
/* cover image start */
.home-container {
    width: 100%;
    padding: 0 13%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.home-container .img-area {
    position: absolute;
    width: 52%;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    border-left-style: 50px;
    z-index: -99;
}
.home-container .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: ellipse(70% 80% at 70% 50%);
}
.text-area {
    position: relative;
}
.text-area .heading {
    font-size: 62px;
    color: #e54b4b;
    margin-bottom: 8px;
}
.text-area .heading span {
    color: #110606;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: var(--primary);
}
.text-area .job {
    font-size: 18px;
    padding-left: 60px;
    color: var(--font);
    position: relative;
}
.text-area .job::after {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-505);
    content: '';
    width: 45px;
    height: 2.5px;
    background-color: var(--font);
    border-radius: 10px;
    animation: width-size 2s infinite linear;
}
@keyframes width-size {
    0% {
        width: 0px;
    }
    50% {
        width: 40px;
    }
    100% {
        width: 0px;
    }
}
.scrollDown-icon {
    position: absolute;
    left: 20px;
    bottom: -150px;
    width: 25px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 30px;
    position: relative;
}
.scrollDown-icon::after {
    position: absolute;
    content: '';
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 5px;
    background-color: #e54b4b;
    animation: scroll-animation 1.5s infinite;
}
@keyframes scroll-animation {
    0% {
        top: 5px;
    }
    100% {
        top: 35px;
        opacity: 0;
    }
}

/* cover image end*/

/* Navigation Bar */
nav {
    position: sticky;
    top: 0;
    background: #333;
    width: 100%;
    padding: 15px 0;
    z-index: 15;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-left: 10px;
}

.menu ul li:first-child {
    margin-left: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background:rgb(231, 77, 6);
    color: black;
}

/* About Section */
#about {
    background-color: #fff;
    padding: 4rem 0;
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.bio {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}
.resume-button {
    margin-top: 2rem;
}

.resume-button a {
    text-decoration: none;
}

.resume-button button {
    background-color: rgb(231, 77, 6);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button button:hover {
    background-color: #0056b3;
}

/* Skills Section */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
/* about section start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
#about-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
}
.about-left img{
    width: 420px;
    height: auto;
    transform: translateY(50px);
}
.about-right {
    width: 54%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #e74d06;
    font-size: 37px;
    margin-bottom: 5px;
}

.about-right p {
    color: #444;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
}

.address .saprater {
    margin: 0 35px;
}

.about-right .expertise ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise h3 {
    margin-bottom: 10px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}

/* about section end */

/* Projects Section */
#projects {
    padding: 50px;
  }
  
  #projects h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .project {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .project a {
    display: inline-block;
    background-color: rgb(231, 77, 6);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .project a:hover {
    background-color: rgb(231, 77, 6);
  }


/* Contact Section */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:rgb(231, 77, 6) ;
    margin-bottom: 20px;
    font-style: bold;
}
.contact .content p{
    font-weight: 300;
    color: #0b0b0b;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #ebaa75;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text h3{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(240, 65, 62);
    /* flex-direction: column; */
    font-weight: 500;
}
.container .contactInfo .box .text p{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(16, 0, 0);
    /* flex-direction: column; */
    font-weight: 300;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #ff0000;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: rgb(231, 77, 6);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}

footer p {
    margin: 0;
}

/* Animations */
.project:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/* Media Query */
@media (max-width: 1048px) {
    .menu .logo a {
        font-size: 20px;
        padding-left: 40px;
    }
    nav ul {
        margin-right: 20px;
    }
    nav a {
        font-size: 14px;
    }
}
