*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    position: absolute;
    left:20%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px 8px 0 0;
    background: white;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);

 
}

.result{
    background-color: #413e3e;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    font-size: 20px;

}

.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px; 
    max-width: 400px;
}

.row{
    display: flex;
    justify-content: space-around;
    gap: 1px;
}

 .row button{
    width: 90px;
    height: 90px;
    border-radius: 0 0 0 0;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: center;
    transition: 0.2s all linear; 
} 

.row button:hover{
    background-color: #7f7c7c;
}

.row button:active{
    background-color: #7f7c7c;
}

#equal{
    width: 180px;
    background-color: rgb(248, 195, 96);
}

#dot{
    font-weight: 700;
}
body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 400px;
}
h1{
    margin: 10% 45%;
}